.gallery-box {
  display: grid;

  width: 100%;
  margin-top: 7px;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  grid-gap: 30px;
}

.gallery-image-box {
  justify-self: center;

  position: relative;

  width: 333px;
  height: 442px;

  border: solid 1px #f6f6f6;
  background-color: #f6f6f6;
}

.gallery-image {
  width: 333px;
  height: 333px;
  object-fit: contain;
}

.gallery-image-description {
  position: relative;

  padding: 20px;
}

.gallery-image-title {
  text-align: left;
  letter-spacing: 0.79px;

  color: #333;

  font-family: PT serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.gallery-image-text {
  margin-top: 9px;

  text-align: left;
  letter-spacing: 0.5px;

  color: #686363;

  font-family: PT Sans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.gallery-image-edit {
  position: absolute;
  top: 20px;
  right: 54px;

  width: 22px;

  cursor: pointer;
}

.gallery-image-delete {
  position: absolute;
  top: 8px;
  right: 11px;

  width: 40px;

  cursor: pointer;
}

.gallery-image-watermark {
  position: absolute;
  top: 17px;
  right: 18px;

  text-align: left;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #f6f6f6;

  font-family: PT Sans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

@media (max-width: 390px) {
  .gallery-image-box,
  .gallery-image {
    width: 100%;
    height: auto;
  }

  .gallery-box {
    grid-template-columns: 1fr;
  }
}
