.index-box-to-box {
  display:         flex;
  align-items:     center;
  flex-wrap:       nowrap;
  justify-content: center;
  width:           100%;
  background:      #fff;
}

.index-box-to-box-top {
  display:         flex;
  align-items:     center;
  flex-wrap:       nowrap;
  justify-content: center;
  width:           100%;
  height:          100%;
}

@media (max-width: 990px) {
  .index-box-to-box {
    flex-wrap: wrap;
  }
}

@media (max-width: 920px) {
  .index-box-to-box-top {
    flex-wrap:       wrap;
    justify-content: flex-start;
    margin-top:      10px;
  }
}

.box-left,
.box-right {
  width:          100%;
  padding:        0 20px;
  text-align:     left;
  letter-spacing: 1.05px;
  color:          #686363;
  font-family:    PT Sans, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

.box-left {
  display:         flex;
  align-items:     center;
  flex-wrap:       nowrap;
  justify-content: space-between;
}

.box-right {
  display:         flex;
  align-items:     center;
  justify-content: flex-end;
}

.box-right p {
  margin-right: 10px;
}

.box-right-column {
  display:        flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .box-left {
    width: 70%;
  }

  .box-right {
    width: 30%;
  }
}

@media (max-width: 920px) {
  .box-left,
  .box-right {
    /* height: 50px; */
    justify-content: center;

    width:           100%;
  }

  .box-left {
    justify-content: flex-start;
    order:           2;
  }

  .box-right {
    justify-content: flex-start;
    order:           1;
  }
}

.index-search-gallery {
  display:         flex;
  align-items:     center;
  justify-content: flex-start;
}

.search-postcode {
  position:         relative;
  width:            100%;
  height:           40px;
  margin:           28px 0.4px 29px 1px;
  padding:          11.5px 0 11.5px 40px;
  border:           none;
  border-radius:    20px;
  outline:          none;
  background-color: #f6f6f6;
}

.search-button {
  position:    absolute;

  margin-top:  -59px;
  margin-left: 10px;
}

.index-search-gallery > .search-postcode {
  width: 100%;
}

.index-search-gallery > .search-button {
  margin-top: 0;
}

.search-gallery > .search-button {
  margin-top: 0;
}

.row-content-index {
  position:       relative;
  display:        flex;
  flex-direction: row;
  flex-wrap:      nowrap;
  width:          30%;
}

.index-select {
  position:       relative;
  width:          100%;
  max-width:      100%;
  margin:         13px;
  padding:        9px 11.4px 10.7px 10px;
  text-align:     left;
  letter-spacing: 1.05px;
  color:          #686363;
  border-top:     none;
  border-right:   none;
  border-bottom:  3px solid #095c5c;
  border-left:    none;
  outline:        none;
  background:     none;
  font-family:    PT Sans, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

.index-select.arrows {
  background-repeat:   no-repeat;
  background-position: 100%, 100% 0;
  background-size:     2.5em 2.5em;
}

.title-dentist {
  display:        none;
  padding:        20px;
  text-align:     left;
  letter-spacing: 1.25px;
  color:          #095c5c;
  font-family:    PT serif;
  font-size:      20px;
  font-weight:    bold;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

.switcher-text {
  text-align:     left;
  letter-spacing: 1.05px;
  color:          rgba(104, 99, 99, 0.75);
  font-family:    PT Sans, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

.switcher {
  position:         relative;

  width:            30px;
  height:           14px;
  padding:          4px 4px 4px 20px;
  cursor:           pointer;
  border-radius:    40px;
  background-color: #095c5c;
}

.switcher-dot {
  position:         absolute;
  width:            6px;
  height:           6px;
  border-radius:    40px;
  background-color: #fff;
}

.main-index {
  display:         flex;
  align-items:     center;
  align-self:      stretch;
  flex-direction:  column;
  justify-content: center;
  width:           100%;
  padding:         8px;
}

.map {
  position:      relative;
  margin-top:    10px;
  margin-bottom: 10px;
  box-shadow:    5px 5px 10px #ccc;
}

.map-dentist-block {
  position:         absolute;
  top:              144px;
  left:             250px;

  display:          flex;
  align-items:      flex-start;
  flex-direction:   column;
  justify-content:  center;
  padding:          15px;
  opacity:          0.8;
  border:           solid 1px #095c5c;
  border-radius:    14px;
  background-color: #095c5c;
}

.map-dentist-block-image {
  width:         64px;
  height:        64px;

  opacity:       1;
  border-radius: 50%;
}

.map-heart-green {
  position: absolute;
  top:      320px;
  left:     250px;

  width:    24px;
}

.map-heart-white {
  position: absolute;
  top:      120px;
  left:     200px;
  width:    24px;
}

.map-dentist-block-title {
  margin:         14px 0 9px 0;
  text-align:     left;
  letter-spacing: 0.56px;
  color:          #fff;
  font-family:    PT serif;
  font-size:      15px;
  font-weight:    bold;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

.map-dentist-block-subtitle {
  text-align:     left;
  letter-spacing: 0.42px;
  color:          #fff;
  font-family:    PT Sans, sans-serif;
  font-size:      10px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

.index-gallery-box {
  display:               grid;
  width:                 100%;
  margin-top:            7px;
  margin-bottom:         10px;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  grid-auto-rows:        1fr;
  grid-gap:              20px;
  height:                100%;
}

.index-gallery-item {
  min-height: 216px;
}

.index-gallery-image-box {
  justify-self:   center;
  position:       relative;
  width:          100%;
  border:         none;
  display:        flex;
  flex-direction: column;
  height:         100%;
  transition:     0.3s linear;
  .index-gallery-image-title {
    text-align:     left;
    letter-spacing: 0.79px;
    color:          #333;
    font-family:    PT serif;
    font-size:      14px;
    font-weight:    bold;
    font-style:     normal;
    font-stretch:   normal;
    line-height:    normal;
    transition:     0.3s linear;
  }
  .index-gallery-image-description {
    position:   relative;
    margin-top: -5px;
    padding:    10px;
    background: #F6F6F6;
    transition: 0.3s linear;
  }
  .index-gallery-image-text {
    margin-top:     9px;
    text-align:     left;
    letter-spacing: 0.5px;
    color:          #686363;
    font-family:    PT Sans, sans-serif;
    font-size:      12px;
    font-weight:    normal;
    font-style:     normal;
    font-stretch:   normal;
    line-height:    normal;
    transition:     0.3s linear;
  }
  &:hover, &.active {
    .index-gallery-image-title {
      color: #fff;
    }
    .index-gallery-image-description {
      background: #095c5c;
    }
    .index-gallery-image-text {
      color: #fff;
    }
  }
}

.index-gallery-image {
  width:           100%;
  object-fit:      cover;
  object-position: center top;
  flex:            1 1 auto;
}

.index-gallery-image-watermark {
  position:      absolute;
  top:           9px;
  right:         11px;
  width:         18px;
  height:        18px;
  border-radius: 50%;
  background:    #fff;
}

.index-gallery-image-watermark-img {
  position:      absolute;
  top:           6px;
  right:         8px;
  width:         24px;
  height:        24px;
  border-radius: 50%;
}

.d-none {
  display: none;
}


@media (max-width: 990px) {
  .map iframe {
    min-width: 100vw;
    padding:   10px;
  }
}

@media (max-width: 920px) {
  .title-dentist {
    display: block;
  }
}


@media (max-width: 650px) {
  .box-left {
    flex-wrap: wrap;
  }

  .index-search-gallery,
  .row-content-index {
    width: 100%;
  }

  .button-green-search {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .search-gallery > .search-button {
    margin-top: -20px;
  }
}

