@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap");

@font-face {
  font-family: "SF Pro Display";
  src:         url("../public/fonts/SFPro/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: "SF Pro Display";
  src:         url("../public/fonts/SFPro/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: "SF Pro Display";
  src:         url("../public/fonts/SFPro/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: "SF Pro Display";
  src:         url("../public/fonts/SFPro/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style:  normal;
}

@font-face {
  font-family: "SF Pro Display";
  src:         url("../public/fonts/SFPro/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  font-family: "SF Pro Display";
  src:         url("../public/fonts/SFPro/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style:  normal;
}

html,
body {
  margin:      0;
  padding:     0;
  color:       var(--black);
  font-family: "Noto Sans KR", sans-serif;
}

#__next {
  height:         100%;
  display:        flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

::-webkit-input-placeholder {
  text-align:     left;
  letter-spacing: normal;

  color:          #707070;

  /* Chrome */
  font-family:    Arial, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

::-moz-placeholder {
  text-align:     left;
  letter-spacing: normal;
  color:          #707070;
  font-family:    Arial, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

:-moz-placeholder {
  text-align:     left;
  letter-spacing: normal;
  color:          #707070;
  font-family:    Arial, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

:-ms-input-placeholder {
  text-align:     left;
  letter-spacing: normal;
  color:          #707070;
  font-family:    Arial, sans-serif;
  font-size:      14px;
  font-weight:    normal;
  font-style:     normal;
  font-stretch:   normal;
  line-height:    normal;
}

:root {
  --black:         #3b434e;
  --gray-light:    #ebebeb;
  --gray:          #a4a4a4;
  --gray-dark:     #6c7077;
  --white:         white;
  --primary:       #7351f5;
  --primary-hover: #6344df;
  --red-light:     #fea291;
  --red:           #fc836d;
  --green:         #007b48;
  --green-light:   #c8f8e4;
  --color-green:   #095c5c;
  --color-white:   #fff;
  --color-gray:    #787878;
  --color-black:   #1f1f1f;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

img {
  max-width: 100%;
  height:    auto;
}

a {
  text-decoration: none;

  color:           inherit;
}

/* COLORS */
.bg-login {
  background: rgba(9, 92, 92, 0.15);
}

.bg-singup {
  background: #f6f6f6;
}

.black {
  color: var(--color-black);
}

.gray {
  color: var(--color-gray);
}

.green {
  color: var(--color-green);
}

.bg-green {
  background-color: var(--color-green);
}

.white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

/* PaymentPage styles --------- start ------------- */

fieldset.FormGroup {
  border: none;
}

.AppWrapper {
  margin:                      0;
  color:                       #212529;
  font-family:                 sans-serif, Verdana;
  font-size:                   1rem;
  font-weight:                 400;
  line-height:                 1.5;
  -webkit-text-size-adjust:    100%;
  -webkit-tap-highlight-color: transparent;
}

.biling {
  background:      rgba(9, 92, 92, 0.15);
  justify-content: center;
  .profile-box-form {
    max-width:       500px;
    margin:          0 auto;
    box-shadow:      none;
    background:      transparent;
    height:          100%;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
  }
  .box-to-box {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex:  0 0 auto;

    width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    flex:  0 0 auto;

    width: 66.66666667%;
  }
}

.col-12 {
  flex:  0 0 auto;

  width: 100%;
}

.mx-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.ai-fs {
  align-items: flex-start !important;
}

label {
  display: inline-block;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  display:            block;

  width:              100%;
  padding:            0.375rem 0.75rem;

  transition:         border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color:              #212529;
  border:             1px solid #ced4da;
  border-radius:      0.25rem;
  background-color:   #fff;
  background-clip:    padding-box;

  font-size:          1rem;
  font-weight:        400;
  line-height:        1.5;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.AppWrapper > button,
.AppWrapper > input,
.AppWrapper > optgroup,
.AppWrapper > select,
.AppWrapper > textarea {
  margin:      0;

  font-family: inherit;
  font-size:   inherit;
  line-height: inherit;
}

.btn-danger {
  padding:          10px 20px;

  color:            #fff;
  border:           none;
  border-color:     #970707;
  border-radius:    5px;
  outline:          none;
  background-color: #ac0303;
}

.btn-danger:hover {
  color:            #fff;
  border-color:     #740505;
  background-color: #8b0000;
}

.btn-success {
  padding:       10px 20px;
  color:         #fff;
  border:        1px solid #095c5c;
  border-radius: 5px;
  outline:       none;
  background:    #095c5c;
  cursor:        pointer;
  transition:    all 0.3s linear;
  &:hover {
    color:      #095c5c;
    border:     1px solid #095c5c;
    background: #fff;
    outline:    none;
  }
}

.AppWrapper > button,
.AppWrapper > select {
  text-transform: none;
}

.form-control:focus {
  color:            #212529;
  border-color:     #86b7fe;
  outline:          0;
  background-color: #fff;
  box-shadow:       0 0 0 0.25rem rgba(13, 110, 253, .25);
}

/* stylelint-disable */
.btn-check:active + .btn-success,
.btn-check:checked + .btn-success,
.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle {
  color:            #fff;
  border-color:     #13653f;
  background-color: #146c43;
}

.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, .5);
}

/* stylelint-enable */
.AppWrapper [type="button"]:not(:disabled),
.AppWrapper [type="reset"]:not(:disabled),
.AppWrapper [type="submit"]:not(:disabled),
.AppWrapper button:not(:disabled) {
  cursor: pointer;
}

.form-login {
  &.stripe-checkout {
    .stripe-cart {
      width: 100%;
    }
    .stripe-buttons {
      width:           100%;
      display:         flex;
      align-items:     center;
      justify-content: space-between;
    }
    #coupon_input_container {
      display:         flex;
      align-items:     center;
      justify-content: center;
      max-width:       200px;
      margin:          0 0 0 20px;
      position:        relative;
      #coupon_input {
        display:            block;
        width:              100%;
        padding:            0.375rem 0.75rem;
        transition:         border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        color:              #212529;
        border:             1px solid #ced4da;
        border-radius:      0.25rem;
        background-color:   #fff;
        background-clip:    padding-box;
        font-size:          1rem;
        font-weight:        400;
        line-height:        1.5;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        &:focus {
          color:            #212529;
          border-color:     #86b7fe;
          outline:          0;
          background-color: #fff;
          box-shadow:       0 0 0 0.25rem rgba(13, 110, 253, .25);
        }
      }
      .coupon-wrapper-icon {
        cursor:    pointer;
        position:  absolute;
        right:     5px;
        top:       50%;
        transform: translate(0, -50%);
      }
      .coupon-icon {
        color:   inherit;
        margin:  0 0 0 10px;
        display: flex;
        width:   15px;
      }
    }
    #coupon_input_img {
      position: absolute;
      right:    5px;
      bottom:   6px;

      width:    24px;
      height:   24px;
    }
  }
}

/* PaymentPage styles --------- end ------------- */

/* profile start */

.container-profile {
  display:         flex;
  align-items:     flex-start;
  flex-direction:  row;
  justify-content: flex-start;

  width:           100%;
  height:          100%;
}

.main-profile {
  display:         flex;
  align-items:     center;
  align-self:      stretch;
  flex-direction:  column;
  justify-content: flex-start;
  width:           100%;
  min-height:      100vh;
  padding:         10px 20px;
}

/* stylelint-disable */
/* profile end */
.leftmenu-navbar li {
  display:         flex;
  align-items:     center;
  justify-content: center;
  padding-left:    36px;
  cursor:          pointer;
}

.leftmenu-navbar li {
  &:hover {
    background: #fff;
    a {
      color: #095c5c;
    }
  }
}

.leftmenu-navbar li a {
  position:        relative;
  z-index:         1;
  display:         block;
  width:           100%;
  padding:         10px 0 10px 24%;
  font-family:     PT Sans, sans-serif;
  font-size:       14px;
  font-style:      normal;
  font-weight:     normal;
  font-stretch:    normal;
  line-height:     normal;
  letter-spacing:  1.05px;
  text-align:      left;
  text-decoration: none;
  margin-left:     -46px;
  color:           #fff;
  transition:      all 0.3s linear;
}

.leftMenu-imagination-div {
  width: 333px;
}

.empty {
  width:      100%;
  text-align: center;
  margin:     20px 0;
}

@media (max-width: 768px) {
  .leftMenu-imagination-div {
    display: none;
    width:   0;
  }
  .form-login {
    &.stripe-checkout {
      #coupon_input_container {
        max-width: 100%;
        margin:    0;
        width:     100%;
        input {
          width:     auto;
          min-width: inherit;
          flex:      1 1 auto;
        }
      }
      .stripe-buttons {
        flex-direction: column;
        button {
          width:         100%;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.Toastify__toast-container {
  z-index: 100000 !important;
}

@import "../components/common/Switch/Switch.module";
@import "../components/Settings/Settings.module.scss";
@import "../components/login/LoginForm/LoginForm.module";
@import "../components/RegisterForm/RegisterForm.module.css";
@import "../components/Header/Header.module.css";
@import "../components/Spinner/spinner.module.css";
@import "../components/Profile/Profile.module";
@import "../components/LeftMenu/OnHeader/OnHeader.module";
@import "../components/Footer/Footer.module";
@import "../components/Search/Search.module";
@import "../components/Search/Map/Map.module.css";
@import "../components/Person/Person.module";
@import "../components/Galery/Galery.module";
@import "../components/Account/Account.module";

/*end of line*/
@import "~react-loading-skeleton/dist/skeleton.css";
@import "~react-image-crop/dist/ReactCrop.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
/* stylelint-enable */
